@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Mulish;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/Assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.login-container {
  background-color: rgba(255, 255, 255,0.55);
  border-radius: 15px;
  padding: 30px 40px 40px 40px;
  width: 349px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
  position: relative;
}
.login-container h1 span{
  color: #214D1D;
}
.login-container h2 span{
  font-weight: 400;
  color: #757575;
}
.login-container h1{
  font-family: Kanit;
}
.login-container img {
  position: absolute;
  right: -47px;
  bottom: -1px;
  width: 286px;
  height: auto;
}
.login-container h1 {
  font-size: 24px;
  color: #2d6a4f;
  margin-bottom: 10px;
  margin-top: 3px;
}
.login-container h2 {
  font-size: 18px;
  color: #2d6a4f;
  margin-bottom: 15px;
  margin-top: -7px;
}
.login-container label {
  font-size: 13px;
  color: #333333;
  display: block;
  margin-bottom: 5px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 240px;
  padding: 10px;
  border: solid #b4b2b2 1px;
  border-radius: 5px;
  font-size: 13px;
  margin-bottom: 12px;
}
.login-container input[type="text"]{
  margin-bottom: 7px;
}
.login-container .input-group {
  position: relative;
}
.login-container .input-group i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ccc;
}
.login-container a {
  color: #333333;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
}
.login-container a:hover {
  text-decoration: underline;
}
.login-container button {
  width: 300px;
  padding: 10px;
  background-color: #81A263;
  color: white;
  border: solid #1A5319 1px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.login-container button:hover {
  background-color: #1b4332;
  border: solid #aabb9a 2px;
}
.login-container .register {
  text-align: left;
  margin-top: 5px;
  font-size: 10px;
  font-weight: 500;
}
.login-container .register a{
  text-decoration: underline;
}